<template>
    <div>
      <div class="card">
        <div class="relative">
          <div class="flex justify-center gap-2 p-2" style="gap: 0.5rem">
            <div  v-show="status !== 'Return'" class="relative h-9 flex-no-shrink">
            <h1>invoice {{invoice }}</h1>
            </div>
  
            <!-- <div class="flex items-center">
              <date-time-picker
                class="w-full form-control form-input form-input-bordered"
                ref="FromDate"
                :value="FromDate"
                :dateFormat="'Y-m-d'"
                :alt-format="'m/d/Y'"
                :placeholder="'From Date'"
                :enable-time="false"
                :enable-seconds="false"
                @change="handleFromDateChange"
              />
  
              <a
                v-if="FromDate.length"
                @click.prevent="$refs.FromDate.clear()"
                href="#"
                :title="__('Clear value')"
                tabindex="-1"
                class="p-1 px-2 leading-none cursor-pointer focus:outline-none"
                :class="{
                  'text-50': !FromDate.length,
                  'text-black hover:text-danger': FromDate.length,
                }"
              >
                <icon
                  type="x-circle"
                  width="22"
                  height="22"
                  viewBox="0 0 22 22"
                />
              </a>
            </div>
            <div class="flex items-center">
              <date-time-picker
                class="w-full form-control form-input form-input-bordered"
                ref="ToDate"
                :value="ToDate"
                :dateFormat="'Y-m-d'"
                :alt-format="'m/d/Y'"
                :placeholder="'To Date'"
                :enable-time="false"
                :enable-seconds="false"
                @change="handleToDateChange"
              />
              <a
                v-if="ToDate.length"
                @click.prevent="$refs.ToDate.clear()"
                href="#"
                :title="__('Clear value')"
                tabindex="-1"
                class="p-1 px-2 leading-none cursor-pointer focus:outline-none"
                :class="{
                  'text-50': !ToDate.length,
                  'text-black hover:text-danger': ToDate.length,
                }"
              >
                <icon
                  type="x-circle"
                  width="22"
                  height="22"
                  viewBox="0 0 22 22"
                />
              </a>
            </div> -->
  
         
          </div>
          <loading-view :loading="loading">
 

          </loading-view>
        </div>
      </div>
    </div>
  </template>
  
  <script>
  
  
  export default {
    components: {
   
    },
    metaInfo() {
      return {
        title: "Orders",
      };
    },
    data() {
      return {
        FromDate: "",
        ToDate: "",
        orders: [],
        vendors: [],
        orderTypes: [],
        states: [],
        loading: false,
        status: "Pending",
        uniqueOrders: [],
        CustomerID: "",
        currRowID: null,
        coloured: false,
        searchDescription: "",
        isTyping: false,
        searchByOrderID: null,
        orderDetailIdList:[],
        invoice:null,
        page: 1,
        pages: 1,
        total: 0,
        
      };
    },
    mounted() {
  
    this.fetchInvoice();
  
    },
  
    computed: {
    
    },
  
    watch: {


    },
    
    methods: {
     
        fetchInvoice: function(){
                  
              Nova.request()
              .get("/nova-vendor/central/fetch-invoice", {
              
                 })
              .then(({ data }) => {
                if (data.success) {
                    this.invoice = data.invoice;
                   Nova.success(data.message);
                }
              })
              .catch((err) => console.log(err));
  
         },
  
    },
  };
  </script>
  
  <style>
  /* Scoped Styles */
  tr.coloured {
    background-color: #d8eab3;
  }
  table th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  </style>
  